<div class="jumbotron text-center">
	<h1>Geek City</h1>

	<p>{{ tagline }}</p>

  
  <div ng-hide='showInput'>
    <p> {{ user.name }} </p>
    <p> {{ user.budget }} </p>
    <p> {{ user.prefDistance }} </p>
    <p> {{ user.location }} </p>
    <button ng-click='toggleInput()'>Edit</button>
  </div>  

  <!-- SHOWS ONLY ON CLICK OF EDIT -->
  <form ng-submit='saveAccount()' ng-show='showInput'>
    <input type='text' ng-model='user.name' placeholder='user.name'/>
    <input type='text' ng-model='user.budget' placeholder='Budget'/>
    <input type='text' ng-model='user.prefDistance' placeholder='Preferred max distance'/>
    <input type='text' ng-model='user.location' placeholder='Daily Commute'/>
    <button type='submit'>Make me pretty pls</button>
  </form>

  <ul>
    <li ng-repeat='member in groupMembers'>{{ member.name }}, {{ member.budget }}, {{ member.prefDistance }}, {{ member.location }}</li>
  </ul>

</div>
