<div class="navbar navbar-fixed-top navbar-main" role="navigation">
  <div class="container-fluid">
      <div class="row" ng-controller="HeaderController">
        <div ng-click="home()" class="col-sm-3 main-pad-logo main-header-brand">
            <span class="logo main-header-text">House</span><br>
            <span class="tagline main-header-text">apartment hunting made easy</span>
        </div>
        <div class="col-sm-6 main-pad-submitter">
          <input type="text" class="submitter" ng-model="url" ng-keypress="post($event)" placeholder="Enter an address or a Craigslist/AirBnB link to save a listing.">
        </div>
        <div class="col-sm-3 main-pad-links text-right">
            <span ng-click="navigate('listings')" class="link-main main-header-text">Listings</span>
            <span ng-click="navigate('groups')" class="link-main main-header-text">Groups</span>
            <span ng-click="logout()" class="link-main main-header-text">Logout</span>
        </div>
      </div>
  </div>
</div>

<div ng-controller="GroupsController" class="main container-fluid">
  <div ng-controller="ChannelController" class="row">
    <div class="col-xs-12">
      <div class="subheading text-right">
        <span ng-click="switch(groupName)" ng-repeat="groupName in groups" ng-class="checkActive(groupName)" class="subheading-text">
          {{ groupName }}
          <!--<span ng-click="remove(groupName)" class="group-delete">(-)</span>-->
        </span>
        <!--
        <span class="subheading-add">(+)</span>
        <input ng-model="toJoin" class="subheading-inputs">
        <span ng-click="join()" class="subheading-add">: join</span>
        -->
      </div>
    </div>
  </div>

  <div class="row">
    <div ng-controller="AccountController" class="col-sm-4 omega text-right">
      <table class="profile-table">
        <tr class="profile-row">
          <td class="profile-item">
            <span class="profile-email">{{ user.google.email }}</span><br>
            <span class="profile-name">{{ user.google.name }}</span>
          </td>
        </tr>
        <tr class="profile-row">
          <td class="profile-item">
            <span class="profile-subtitle">preferred budget</span><br>
            <span class="profile-budget">
              <input class="profile-inputs" ng-keypress="save($event)" ng-model="user.budget">
            </span>
            <span class="profile-unit"> USD</span>
          </td>
        </tr>
        <tr class="profile-row">
          <td class="profile-item">
            <span class="profile-subtitle">preferred distance</span><br>
            <span class="profile-distance">
              <input class="profile-inputs" ng-keypress="save($event)" ng-model="user.prefDistance">
            </span>
            <span class="profile-unit"> mi</span>                    
          </td>
        </tr>
        <tr class="profile-row">
          <td class="profile-item">
            <span class="profile-subtitle">commute location</span><br>
            <span class="profile-location"><input class="profile-inputs" value="944 Market St" disabled></span><br>
            <span class="profile-city">San Francisco . CA . 94102</span>                    
          </td>
        </tr>                
      </table>
    </div>
    <div ng-controller="MembersController" class="col-sm-8 alpha">
      <table class="groups-table alpha">
      <thead class="text-center">
        <tr class="group-header">
          <td class="text-left group-col-contact">contact info</td>
          <td class="group-col-distance">preferred distance</td>
          <td class="group-col-location">commute location</td>
          <td class="group-col-budget">preferred budget</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="member in members" class="group-member">
          <td class="group-cell text-left">
            <span class="group-name">{{ member.google.name }}</span><br>
            <span class="group-email">{{ member.google.email }}</span>
          </td>
          <td class="group-cell text-center">
            <span class="group-location">{{ member.location }}</span><br>
            <span class="group-city">San Francisco . CA . 94102</span>
          </td>
          <td class="group-cell text-center">
            <span class="group-dollar">$ </span>
            <span class="group-price">{{ member.budget }}</span>
            <span class="group-dollar">/person</span>
          </td>
        </tr>
      </tbody>
      </table>
    </div>
    </div>
  </div>
</div>