<div class="splash container-fluid">
  <div class="row splash-pad-top"> </div>
  <div class="row text-center">
    <span class="splash-leading">
      <span class="title txt-piccolo">House</span><br>
      <span class="subtitle txt-piccolo">apartment hunting made easy</span><br>
    </span>
  </div>
  <div class="row splash-pad-middle"> </div>
  <div class="row">
    <div class="col-md-4 col-sm-3"></div>
    <div class="col-md-4 col-sm-6">

      <a href='http://127.0.0.1:8080/auth/google' class="submitter btn"><span class="fa fa-google-plus"></span>Login via Google+</a>

    </div>
    <div class="col-md-4 col-sm-3"></div>
  </div>
</div>

<footer>
  <p style="text-align: center">Built @<a href='http://hackreactor.com'>Hack Reactor</a></p>
</footer>