<div class="jumbotron text-center">
  <h1>Welcome to House</h1>
  <p>{{ tagline }}</p>

  <div>
      <div class="row">
          <div class="col-md-12">
              <div class="wrap">
                  <p class="form-title"></p>
                  <form class="login" ng-submit='logInUser()'>
                  <input type="text" ng-model='email' placeholder="e-mail" />
                  <input type="password" ng-model='password' placeholder="Password" />
                  <input type="submit" value="Sign In" class="btn btn-default btn-sm" />
                  <small><a href='#signup'>Not yet registered?</a></small>
                      </div>
                  </div>
                  </form>
              </div>
          </div>
      </div>
  </div>


  <div>
      <div class="row">
          <div class="col-md-12">
              <div class="wrap">
                  <p class="form-title"></p>
                  <form class="register" ng-submit='registerUser()'>
                  <input type="text" ng-model='name' placeholder="full name" />
                  <input type="text" ng-model='email' placeholder="e-mail" />
                  <input type="password" ng-model='password' placeholder="Password" />
                  <input type="submit" value="Register" class="btn btn-default btn-sm" />
                  </form>
              </div>
          </div>
      </div>
  </div>

</div>


