<div class="navbar navbar-fixed-top navbar-main" role="navigation">
  <div class="container-fluid">
      <div class="row" ng-controller="HeaderController">
        <div ng-click="home()" class="col-sm-3 main-pad-logo main-header-brand">
            <span class="logo main-header-text">House</span><br>
            <span class="tagline main-header-text">apartment hunting made easy</span>
        </div>
        <div class="col-sm-6 main-pad-submitter">
          <input type="text" class="submitter" ng-model="url" ng-keypress="post($event)" placeholder="Enter an address or a Craigslist/AirBnB link to save a listing.">
        </div>
        <div class="col-sm-3 main-pad-links text-right">
            <span ng-click="navigate('listings')" class="link-main main-header-text">Listings</span>
            <span ng-click="navigate('groups')" class="link-main main-header-text">Groups</span>
            <span ng-click="logout()" class="link-main main-header-text">Logout</span>
        </div>
      </div>
  </div>
</div>

<div ng-controller="ListingsController" class="main container-fluid">
  <div ng-controller="ChannelController" class="row">
    <div class="col-xs-12">
      <div class="subheading text-right">
        <span ng-click="switch(groupName)" ng-repeat="groupName in groups" ng-class="checkActive(groupName)" class="subheading-text">
          {{ groupName }}
          <span ng-click="remove(groupName)" class="group-delete">(-)</span>
        </span>
        <input ng-model="toJoin">
        <span ng-click="join()" class="subheading-add">+ add / join</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div ng-controller="MapController" class="col-sm-6 omega">
      <div id="listings-canvas">maps!</div>
    </div>
    <div ng-controller="PropertiesController" class="col-sm-6 alpha">
      <table class="listings-table alpha">
      <tbody>
        <tr ng-repeat="listing in listings" class="listing">
          <td class="listing-begin"><span class="listing-currency">$ </span><span class="listing-cost">{{ listing.price }}</span></td>
          <td class="listing-main">
            <span ng-click="toggleVote(listing)" class="listing-votes">{{ listing.votes.length }}</span><br>
            <span class="listing-address">{{ listing.title }}</span><br>
            <span class="listing-url">{{ listing.url }}</span>
          </td>
          <td class="listing-end">
            <span class="listing-rooms">{{ listing.rooms }} BR</span><br>
            <span class="listing-distance">1.5 mi away</span>
          </td>
          <td class="listing-postfix">
            <span ng-click="delete(listing)" class="listing-delete">x</span>
          </td>
        </tr>
      </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
<!--script src="libs/maps.js"></script>