<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Stencil: Node and Angular</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/account">Account</a></li>
      <li><a href="/list">List</a></li>
      <li><a href='/' ng-click='logout()'>Logout</a></li>
    </ul>
  </nav>
</div>


<div class="jumbotron text-center">
	<h1>Listings</h1>

</div>

  <a href='' ng-show='{{ user.groupId }}' ng-click='toggleGroupForm()' ng-hide='creatingGroup'>Create a new group</a>

  <form ng-submit='createGroup()' ng-show='creatingGroup'>
    <input type='text' ng-model='groupName' placeholder='Enter group name' ></input>
  </form>
</div>

  <table>
    <h1> THIS IS FROM THE SERVER YEYZ </h1>
    <tr>
      <th>Votes</th>
      <th>Neighborhood</th>
      <th>Title</th>
      <th>Bedrooms</th>
      <th>Price</th>
    </tr>
    <tr ng-repeat='property in properties'>
      <td>{{ property.votes }}</td>
      <td>{{ property.neighborhood }}</td>
      <td>{{ property.listingUrl }}</td>
      <td>{{ property.bedrooms }}</td>
      <td>{{ property.monthlyPrice }}</td>
    </tr>
  </table>

  <google-map center="map.center" zoom="map.zoom" draggable="true">

    <marker ng-repeat="m in map.markers" coords="m.coords" click="m.show = !m.show">
      <window show="m.show">
        <div>
          <h4 class="list-group-item-heading">{{m.info.price}}</h4>
          <p class="list-group-item-text">{{m.info.title}} This is just a bunch of text</p>
          <p class="list-group-item-text">{{m.info.title}} This is just a bunch of text</p>
        </div>
      </window>
    </marker>
  
  </google-map>
