<div class="navbar navbar-fixed-top navbar-main" role="navigation">
  <div class="container-fluid">
      <div class="row" ng-controller="HeaderController">
        <div ng-click="home()" class="col-sm-3 main-pad-logo main-header-brand">
            <span class="logo main-header-text">House</span><br>
            <span class="tagline main-header-text">apartment hunting made easy</span>
        </div>
        <div class="col-sm-6 main-pad-submitter">
          <input type="text" class="submitter" ng-model="url" ng-keypress="post($event)" placeholder="Enter an address or a Craigslist/AirBnB link to save a listing.">
        </div>
        <div class="col-sm-3 main-pad-links text-right">
            <span ng-click="navigate('listings')" class="link-main main-header-text">Listings</span>
            <span ng-click="navigate('groups')" class="link-main main-header-text">Groups</span>
            <span ng-click="logout()" class="link-main main-header-text">Logout</span>
        </div>
      </div>
  </div>
</div>

<div ng-controller="ListingsController" class="main container-fluid">
  <div ng-controller="ChannelController" class="row">
    <div class="col-xs-12">
      <div class="subheading text-right">
        <span ng-click="switch(group)" ng-repeat="group in groups" ng-class="checkActive(group)" class="subheading-text">
          {{ group.name }}
          <span ng-click="remove(group)" class="group-delete">(-)</span>
        </span>
        
        <span class="subheading-add">(+) CREATE GROUP</span>
          <input ng-model="toJoin" class="subheading-inputs">
        <span ng-click="create()" class="subheading-add">: join</span>

        <span> INVITE USER BY EMAIL</span>
          <input ng-model="emailToInvite">
          <button ng-click="emailInvite()"> INVITE! </button>                
      </div>
    </div>
  </div>

  <div class="row">
    <div ng-controller="MapController" class="col-sm-6 omega">
      <google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options">
        <marker ng-repeat="m in properties" coords="m.location[0]" click="m.show = !m.show">
          <window show="m.show">
            <div>
              <h4 class="list-group-item-heading">Price: {{m.price | number:0}}</h4>
              <p>Rooms: {{m.rooms}}</p>
              <a href={{m.url}}> link </a>
            </div>
          </window>
        </marker>
      </google-map>
    </div>
    
    <div ng-controller="PropertiesController" class="col-sm-6 alpha">
      <table class="listings-table alpha">
      <tbody>
        <tr ng-repeat="listing in properties" class="listing">
          <td class="listing-begin"><span class="listing-currency">$ </span><span class="listing-cost">{{ listing.price }}</span></td>
          <td class="listing-main">
            <span class="listing-address">{{ listing.title }}</span><br>
            <span class="listing-url">{{ listing.url }}</span>
          </td>
          <td class="listing-end">
            <span class="listing-rooms">{{ listing.rooms }} BR</span><br>
            <span class="listing-distance">1.5 mi away</span>
          </td>
          <td class="listing-postfix">
            <span ng-click="remove(listing)" class="listing-delete">x</span>
          </td>
        </tr>
      </tbody>
      </table>
    </div>
    </div>
  </div>
</div>