html, body, .content {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #EEF0EE;
}

.alpha { margin-left: 0; padding-left: 0;}
.omega { margin-right: 0; padding-right: 0;}
a:hover { text-decoration: none; }

.angular-google-map-container { height: 600px; }
.fa:hover, .fa-google-plus:hover { background-color: #CBE3B0;}

/* ========= CONTAINERS ========= */
/* HOME PAGE CONTAINERS */
.navbar-splash {
    min-height: 40px;
    background-color: #EEF0EE;
}
.navbar-main {
    min-height: 60px;
    background-color: #40BC98;
}

.splash, .main { height: 100%; }
.splash {
    padding-top: 40px;
    background-color: #40BC98;
}
.main {
    padding-top: 60px;
    background-color: #EEF0EE;
}

.logo:hover, .link-main:hover { cursor: pointer; }

/* ========= HEADERS ========= */
/* COMMON HEADER */
.splash-pad-logo { padding-top: 4px; }
.splash-pad-links { padding-top: 10px; }
.main-pad-logo { padding-top: 9px; }
.main-pad-links { padding-top: 20px; }
.main-pad-submitter { padding-top: 14px; }

.main-header-text { color: #E9F0E9; text-transform: uppercase; }
.main-header-brand { line-height: 0.9; }
.splash-header-brand { line-height: 1; }
.logo {
    font-size: 32px; font-weight: 300; 
    letter-spacing: 0.5px;
}
.tagline {
    font-size: 12px; font-weight: 100;
    text-transform: lowercase;
    letter-spacing: 0.5px;
    padding-left: 1px;
}
.link-main {
    font-weight: 100;
    padding-left: 12px;
    letter-spacing: 0.5px;
}

.splash-header-text { color: #40BC98; text-transform: uppercase; }
.link-splash {
    font-weight: 300;
    padding-left: 12px;
}

/* SUBMISSION INPUT FIELD */
.submitter { 
    border: 1px solid #EEF4EE; border-radius: 7px;
    height: 30px; width: 100%;
    color: #787878; background-color: #CBE3B0;
    font-weight: 200;
    padding-left: 7px;
}
.submitter:focus { outline: none; box-shadow: none; }

/* ========= BODY ========= */
/* SUBHEADING */
.subheading { 
    border-width: 0px 0px 2px 0px;
    border-color: #40BC98;
    border-style: solid;
    height: 32px;
    padding-bottom: 0px;
}
.subheading-active, .subheading-text, .subheading-add {
    display: inline-block;
    margin-top: 10px;
    padding-right: 4px;
}
.subheading-add {
    padding-left: 18px;
    font-size: 14px; font-weight: 300; 
    text-transform: uppercase;
    color: #40BC98;
}
.subheading-active, .subheading-text {
    padding-left: 16px;
    font-size: 18px; font-weight: 200;
}
.subheading-text { color: #C0C8C0; }
.subheading-active { color: #40BC98; }
.subheading-inputs {
    width: 75px; text-align: right;
    box-shadow: none; border: none;
    background-color: transparent;
    box-sizing: border-box;
    color: #40BC98;
    font-size: 14px; font-weight: 300;
}
.subheading-inputs:focus {
    box-shadow: none; border: none;
    outline: 0 none;
}

/* SPLASH PAGE */
.splash-pad-top { height: 40%; }
.splash-pad-middle { height: 5%; }

.splash-leading { line-height: 0.85; }
.title, .subtitle { 
    color: #E0E4E0; 
    font-weight: 100; 
}
.title { 
    font-size: 60px; 
    letter-spacing: 1px; 
    text-transform: uppercase; 
}
.subtitle { 
    font-size: 18px; 
    letter-spacing: 0.5px;
}

/* LISTINGS/GROUPS PAGE */
.listings-table { width: 100%; }
#listings-canvas { width: 100%; height: 500px; }

.listing { 
    height: 65px; 
    vertical-align: bottom; 
    border-bottom: 1px solid #40BC98;
}
.listing:hover {
    background-color: #E8E8E8;
}
.listing-begin, .listing-main, .listing-end { padding-bottom: 8px; line-height: 1.1; }
.listing-postfix { padding-bottom: 20px; }

.listing-begin { width: 130px; text-align: left; padding-left: 15px; }
.listing-main { width: auto; text-align: left; }
.listing-end { width: 95px; text-align: center; }
.listing-postfix { width: 40px; text-align: center; }

.listing-currency { font-size: 18px; font-weight: 100; color: #40BC98;}
.listing-cost { font-size: 32px; font-weight: 100; color: #40BC98;}

.listing-votes { font-size: 12px; font-weight: 300; color: #C0C8C0;}
.listing-votes:hover { cursor: pointer; color: #808080; }
.listing-address { font-size: 18px; font-weight: 400; color: #808080;}
.listing-url { font-size: 12px; font-weight: 300; color: #C0C8C0;}

.listing-rooms { 
    display: inline-block; margin-bottom: 10px;
    font-size: 18px; font-weight: 300; color: #808080; }
.listing-distance { font-size: 12px; font-weight: 300; color: #C0C8C0;}

.listing-delete { font-size: 18px; font-weight: 300; color: #C0C8C0; }
.listing-delete:hover { cursor: pointer; color: #808080; }

/* GROUPS PAGE */
.groups-table { width: 100%;}
.group-header {
    vertical-align: bottom;
    font-size: 18px; color: #40BC98;
    font-weight: 100;
    line-height: 1.1;
    height: 50px;
}
.group-member { 
    height: 60px; 
    vertical-align: bottom; 
    border-bottom: 1px solid #40BC98;

    font-weight: 100;
    color: #808080;
    line-height: 1.25;
}
.group-cell {
    padding-bottom: 5px;
}

.group-col-contact, .group-col-location, .group-col-budget, .group-col-distance { width: 25%;}

.group-name, .group-location { font-size: 18px; font-weight: 200; }
.group-email, .group-city { font-size: 12px;}

.group-dollar, .group-length { font-size: 18px; }
.group-price, .group-distance { font-size: 32px;}

.group-delete { font-size: 18px; font-weight: 100; color: #C0C8C0; }
.group-delete:hover { cursor: pointer; color: #808080; }

/* PROFILE PAGE */
.profile-table { 
    width: 100%;
    border-right: 1px solid #40BC98;
    vertical-align: top;
}
.profile-row { 
    height: 75px; 
    vertical-align: bottom;
}
.profile-item { font-weight: 100; padding-right: 15px; padding-top: 50px; line-height: 1.2;}

.profile-subtitle { font-size: 14px; color: #40BC98; }
.profile-unit { font-size: 18px; color: #C0C8C0; }

.profile-email { font-size: 18px; color: #40BC98; }
.profile-name { font-size: 48px; color: #808080; }
.profile-budget, .profile-distance, .profile-location { font-size: 32px; color: #808080; }
.profile-city { font-size: 18px; color: #C0C8C0; }

.profile-inputs {
    width: 300px; text-align: right;
    box-shadow: none; border: none;
    background-color: #EEF0EE;
    box-sizing: border-box;
}
.profile-inputs:focus {
    box-shadow: none; border: none;
    outline: 0 none;
    text-decoration: underline;
}